name: Update Helm index

on:
  push:
    branches:
      - main
    paths:
      - '*.tgz'
      - '.github/workflows/update-index.yaml'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Rebuild Helm index
        run: |
          helm repo index . --url https://$GITHUB_ACTOR.github.io/${{ github.event.repository.name }}

      - name: Commit and push updated index.yaml
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add index.yaml
          git commit -m "Update Helm index [skip ci]" || echo "No changes to commit"
          git push
